html {
    -webkit-font-smoothing: antialiased;
}

body{
    background-color: #7FCEBF;
}

.container {
    margin: 0 auto;
   
    padding: 0.5em 0.5em 0.5em 0.5em;
    width: 800px;
    height: 560px;
   
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    
    color: #545454;
    background-color: #E8D9AE;
    box-shadow: 0 0 5px rgba(1, 2, 3, 5);
    position: relative;
    
}

.caseForImage {
    margin: 1;
}

.footer-copyright{
    background-color: darkmagenta;
    height: 60px;
    clear:both;
    border-radius: 5px;
    text-align:left;
    padding: 15px;
    font-size: 90%;
    max-height:80px;
    
}


.btn-large{
    top:50%;
    left: 45%;
    position: absolute;
    
}

#logo
{
     width: 60px;
     height: 64px;
     position: absolute;
}

#mainAreaImage{
    width: 240;
    height: 340;
    position: absolute;
    top: 15px;
    left: 30%;
    
} 

#image{
    border-radius: 3%;
    border: 1px solid;
    width: 320;
    height: 240;
}

#countdown{
    position: absolute;
    top:15%;
    left:10%;
    
}


#button{ position: absolute; top:80%; left:40%; }


#disable-text-box{
    position: relative;
    top:55%;
}

#textbox-for-input-word{
    position: relative;
    top:58%;
}


#list-true-words{
    position: absolute;
    top: 1%;
    right: 2%;
    
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}