html {
    -webkit-font-smoothing: antialiased;
}
body{
    background-color: #7FCEBF;
}

.contant {
    margin: 0 auto;
    padding: 2em 2em 4em;
    width: 800px;
    height: 560px;
   
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    
    color: #545454;
    background-color: #E8D9AE;
    box-shadow: 0 0 5px rgba(1, 2, 3, 5);
    position: relative;
    
}

.caseForImage {
    margin: 1;
}

#mainAreaImage{
    position: absolute;
    top: 15px;
    left: 30%;
} #image{
    border-radius: 3%;
    border: 1px solid;
}

#timer_inp{

	font-size: 35;
}


#tBoxForInputedWord{

	position: fixed;
	top: 55%;
	left: 40%

}

 

