html { -webkit-font-smoothing: antialiased; }

body{ background-color: #7FCEBF; }

.nav-wrapper {position: relative;}


.footer-copyright {
    background-color: darkmagenta;
    height: 60px;
    clear:both;
    border-radius: 5px;
    text-align:left;
    padding: 15px;
    font-size: 90%;
    max-height:80px;
    
}

.slider {
   position: relative;
   width: 800px;
   margin: 2px;
   left: 30%;
}
    

#logo{
   position: absolute;
   width: 60px;
   height: 64px;
     
}


 

