body{
    background-color: #E6DFB1;
    background-image: url('../images/art.jpg');
    background-size: 100%;
}

#desert{
    position: fixed;
    top:10%;
    left:35%;

    border: 2px solid;
}

#textBoxFirstPage{
    position: absolute;
    top: 60%;
    left: 40%
}
